* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
#head{
    text-align: center;
    height: 10vh;
}
#info{
    display: flex;
    justify-content: space-around;
    height: 3vh;
}
#mainBody{
    display: flex;
    width: 95vw;
    margin: 0 2.5vw;
    height: 87vh;
}
#leftSide{
    height: 100%;
    width: 45%;
}
#rightSide{
    height: 100%;
    width: 45%;
    margin: 0 2%;
}
.projectItem{
    margin-left: 15px;
}
.jobDesc{
    width: 90%;
    margin: .25em 5%;
}
#topLine{
    height: 8px;
    background-color: black;
}
#divider{
    width: 8px;
    background-color: black;
}
#skillArea{
    display: flex;
}
#skill1{
    width: 50%;
    height: 100%;
}
#skill2{
    width: 50%;
    height: 100%;
}
a{
    color: black;
}