* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
#head{
    text-align: center;
    height: 8vh;
}
#info{
    display: flex;
    justify-content: space-around;
    height: 3vh;
}
#mainBody{
    display: flex;
    width: 95vw;
    margin: 0 2.5vw;
    height: 89vh;
}
#leftSide{
    height: 100%;
    width: 50%;
}
#rightSide{
    height: 100%;
    width: 50%;
}